@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* general helpers */
.tight-padding-0 {
    padding: 0;
}

#footer {
    padding: 20px;
    margin-top: 30px;
    background-color: #333333;
    color: #ffffff;
}

/* ---- GENERAL ---- */

/* pull-right on all except xs devices */
@media (min-width: 768px) {
    .pull-right-sm {
        float: right !important;
    }
}
