
spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 100
spExtractionMode = false

spNumOfSimilarImages = 5
spKDTreeSplitMethod = MAX_SPREAD
spKNN = 10

spMinimalGUI = false
spLoggerFilename = ~LOG.txt
spLoggerLevel = 4
